*.pb
*.pbmm
*.tflite
*.scorer
*.mp3
*.json
!alfred/data/calendar_data/reccurence_data.json
*.pyc
*.wav
*.log
FANN-2.2.0-Source/
*.zip
*.binary
*.gz
*.net
*.ids
*.pos
*.hash
alfred/.intent_cache/
.intent_cache/
alfred/data/container_data/
alfred/data/deepspeech-0.6.1-models.tar.gz
alfred/data/deepspeech-0.6.1-models/lm.binary
